<p style="color: green"><%= notice %></p>

<h1>Cars</h1>

<%= form_with model: @user, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <template data-nested-form-target="template">
    <%= f.fields_for :variants, Variant.new, child_index: 'NEW_RECORD' do |variant_fields| %>
      <%= render "variant_form", f: variant_fields %>
    <% end %>
  </template>

  <%= f.fields_for :variants do |variant_fields| %>
    <%= render "variant_form", f: variant_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add variant</button>

  <%= f.submit 'Save manufacturer variant' %>
<% end %>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
  <% end %>
</div>


<br>
<br>
<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>
<br>


<div data-controller="toggle" data-toggle-show-class="show">
  <button class="btn" data-action="toggle#show">Toggle</button>
  <div class="hide" data-toggle-target="text">You toggled me!</div>
</div>
<br>

<div data-controller="toggle" data-toggle-hide-class="hide" data-toggle-show-class="show">
  <button class="show" data-action="toggle#switch" data-toggle-target="one">One</button>
  <div>Up and down</div>
  <button class="hide" data-action="toggle#switch" data-toggle-target="two">And two</btn>
</div>

<br>
<div class="box" data-controller="toggle" data-toggle-highlight-class="highlight" data-toggle-target="checkbox">
  <input type="checkbox" data-action="toggle#highlight">
</div>

<br>
<div class="box" data-controller="textwarn" data-textwarn-red-class="red">
  <textarea maxlength="280" type="textarea" data-action="textwarn#warn" data-textwarn-target="text"></textarea>
  <p class="" data-textwarn-target="length">0/280 characters</p>
</div>
